
<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="/jobsearch">Job Search</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="/testimonial">Testimonials</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="/resources">Resources</a>
				</li>
							</ul>
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1> <center>KARJOUR</center>
				</h1>
			
			<h2><center>
				Employer Portal
			</center></h2>
			<h4><center>
				Bootcamp graduates come with knowledge and experience in the latest platforms <br>this reduces your onboarding time and costs. Find your new employee of the year by<br><strong>POSTING YOUR VACANCIES HERE TODAY</strong>
			</center></h4>
			</div>


    <!-- Form Name -->
{{!-- <legend>Job Vacancies</legend> --}}

<!-- Text input-->
<div class="form-group">
  <label class="col-md-8 control-label" for="textinput"></label>  
  <div class="col-md-8">
  <input id="textinput" name="textinput" type="text" placeholder="Company Name" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-8 control-label" for="textinput"></label>  
  <div class="col-md-8">
  <input id="textinput" name="textinput" type="text" placeholder="Location" class="form-control input-md">
   </div>
</div>


<div class="form-group">
  <label class="col-md-8 control-label" for="textinput"></label>  
  <div class="col-md-8">
  <input id="textinput" name="textinput" type="text" placeholder="Job Title" class="form-control input-md">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-8 control-label" for="textinput"></label>  
  <div class="col-md-8">
  <input id="textinput" name="textinput" type="text" placeholder="Vital Skill Needed" class="form-control input-md">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-12 control-label" for="textarea"> </label>
  <div class="col-md-12">                     
    <textarea class="form-control" id="textarea" name="textarea"placeholder="Job Description"></textarea>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-12 control-label" for="textarea"> </label>
  <div class="col-md-12">                     
    <textarea class="form-control" id="textarea" name="textarea"placeholder="Tell Us About Your Company. Please Describe The Company's Culture"></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-6 control-label" for="singlebutton"></label>
  <div class="col-md-6">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
    
  </div>
</div>

</fieldset>
</form>
</div>        