<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kanjour</title>

       <meta name="author" content="KanjourApp">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
				KANJOUR <small></small>
				</h1>
			</div>
			<h2>
				Bootcamp Graduates Career Portal
			</h2>
			<p>
				You have survived Web Development Bootcamp, we are now here to support you during your biggest project...GETTING A JOB
			</p>
			<p>
				<a class="btn" href="#"></a>
			</p>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-top" alt="JobHuntingImage" src="styles/images/jobhuntlandingpage.jpg">
						<div class="card-block">
							<h5 class="card-title">
								Job Search
							</h5>
							<p class="card-text">
								Find the best web development jobs in your ideal location
							</p>
							<p>
								<a class="btn btn-primary" href="#">SEARCH</a> <a class="btn" href="#">SEARCH</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-top" alt="ResourcesImage" src="styles/images/resourceslandingpage.jpg">
						<div class="card-block">
							<h5 class="card-title">
								Card title
							</h5>
							<p class="card-text">
								Resources and articles created to provide you with a leg up on the competition
							</p>
							<p>
								<a class="btn btn-primary" href="#">LEARN MORE</a> <a class="btn" href="#">LEARN MORE</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-top" alt="TestimonialImage" src="styles/images/testimonialslandingpage.jpg">
						<div class="card-block">
							<h5 class="card-title">
								Card title
							</h5>
							<p class="card-text">
								Read real stories from fellow job seekers. Find out about their highs and lows, and share your own testimonials
							</p>
							<p>
								<a class="btn btn-primary" href="#">LEARN MORE</a> <a class="btn" href="#">LEARN MORE</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="jumbotron">
				<h2>
					Employer Portal
				</h2>
				<p>
					<a class="btn btn-primary btn-large" href="#">Enter Your Job Vacancies Here</a>
				</p>
			</div>
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
