<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="/jobsearch">Job Search</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="/testimonial">Testimonials</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="/resources">Resources</a>
				</li>
							</ul>
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1> <center>KARJOUR</center>
				</h1>
			
			<h2><center>
				Bootcamp Graduates Career Portal
			</center></h2>
			<h4><center>
				You have survived Web Development Bootcamp, <br>we are now here to support you during your biggest project...<br><strong>GETTING AND KEEPING A JOB</strong>
			</center></h4>
			</div>
				
			</p>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-top" alt="JobHuntingImage" src="../images/jobhuntlandingpage.jpg">
						<div class="card-block">
							<h5 class="card-title">
								Job Search
							</h5>
							<p class="card-text">
								Find the best web development jobs in your ideal location
							</p>
							<p>
								<a class="btn btn-primary" href="/jobsearch">SEARCH</a> <a class="btn" href="/jobhunt"></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-top" alt="ResourcesImage" src="../images/resourceslandingpage.jpg">
						<div class="card-block">
							<h5 class="card-title">
								Helpful Resources
							</h5>
							<p class="card-text">
								Resources and websites curated monthhly to provide you with a leg up on in the job search market.
							</p>
							<p>
								<a class="btn btn-primary" href="/resources">LEARN MORE</a> <a class="btn" href="/resources"></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-top" alt="TestimonialImage" src="../images/testimonialslandingpage.jpg">
						<div class="card-block">
							<h5 class="card-title">
								Testimonials
							</h5>
							<p class="card-text">
								Real stories from fellow job seekers. Find out about their highs and lows, and share your own testimonials
							</p>
							<p>
								<a class="btn btn-primary" href="/testimonial">LEARN MORE</a> <a class="btn" href="/testimonial"></a>
							</p>
						</div>
					</div>
				</div>
			</div>
			
		
			<div class="jumbotron">
				<h2>
					Employer Portal
				</h2>
				<p>
					<a class="btn btn-primary btn-large" href="/employerportal">Enter Your Job Vacancies Here</a>
				</p>
			</div>
		</div>
	</div>
</div>

	
    