<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link disabled" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="/jobsearch">Job Search</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="/testimonial">Testimonials</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="/resources">Resources</a>
				</li>
							</ul>
    
	     	<div class="page-header">
				<h1> <center>KARJOUR</center>
				</h1>
			
			<h2><center>
				Sometimes everything goes as planned
			</center></h2>
		<H4><center>
		 sometimes it doesnt...<br><strong>SHARE YOUR JOB SEARCH STORY BELOW</strong>
			</center></H4>
			<p>
			</div>
				
			</p>
			

<br> <br>
<div class="tform">
<form id="tmForm" class="form-horizontal">
<fieldset>

<!-- Form Name -->
{{!-- <legend>Your Testimonial</legend> --}}

<!-- Text input-->
<div class="form-group">
  <label class="col-md-8 control-label" for="textinput"></label>  
  <div class="col-md-8">
  <input id="tmName" name="textinput" type="text" placeholder="Your Name" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-8 control-label" for="textinput"></label>  
  <div class="col-md-8">
  <input id="tmTitle" name="textinput" type="text" placeholder="Category" class="form-control input-md">
   </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-12 control-label" for="textarea"> </label>
  <div class="col-md-12">                     
    <textarea class="form-control" id="tmBody" name="textarea"placeholder="Write Your Testimonial Here"></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-6 control-label" for="singlebutton"></label>
  <div class="col-md-6">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
    
  </div>
</div>

</fieldset>
</form>
</div>

<div class="testimonial-container">

</div>

<script type="text/javascript" src="/js/testimonial.js"></script>
